
html{
    background-color: #353535;
}

nav{
    background-color: #222222;
}
.navbar-custom .navbar-nav .nav-link {
    color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #1b1b1b;
    text-align: center;
    color: white;
}

